# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.whl

# PyInstaller
# See https://pyinstaller.org
# for details
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-line.txt

# Virtual environment
venv/
.venv/
env/
.env/
ENV/
bin/
include/
lib/
share/

# Packaging
.tox/
.nox/
.appveyor.yml
.travis.yml
circle.yml
pids/
.scmversion
.pytest_cache/

# Unit test / coverage
.hypothesis/
.pytest_cache/

# Editor/IDE-specific files
.idea/  # For PyCharm
.vscode/  # For VS Code
*.swp
